*{
  font-family: "Noto Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.navbar, .navbar-collapse, .nav-link {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  overflow-y: hidden;
}
.campaign-card {
  position: relative;
  overflow-y: hidden;
  border-style: none !important;
}

.heart-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.campaign-card:hover .heart-overlay {
  opacity: 1;
}
.title{
  overflow-y: hidden;
}

.marquee {
  font-family: "Alegreya", serif;
  font-size: 50px;
}
